.catalog__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: white;
  position: absolute;
  left: 36px;
  top: 0px;
}

.catalog__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  left: 60px;
  top: 110px;
}

.catalog__button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  height: 40px;
  color: white;
  background-color: @green;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  position: absolute;
  left: 20px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__program-description {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.catalog-list{
  list-style: none;
  margin-top: 22px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 27px;
}

.catalog__item {
  background-color: #f2f2f2;
  margin-top: 22px;
}

.catalog__image {
  background-color: @green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.catalog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__pesentation {
  width: 320px;
  height: 483px;
  position: relative;
}

.catalog__cat {
  background: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  width: 320px;
  height: 305px;
  position: absolute;
}

.catalog__catfood {
  background: url(../img/index-can-mobile@1x.png);
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
  position: absolute;
  left: 20px;
  bottom: 45px;
}
